.message-container{
    padding: 4rem;
    background: #f9f9f9;
}

.founder-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.founder-img img{
    width: 300px;
}

.founder-img p1{
    color: #052F6B;
    font-weight: 700;
}

.founder-img p2{
    color: #052F6B;
    font-weight: 400;
}

.founder-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message-writeup{
    padding: 4rem;
    
}

.message-writeup h1{
    font-weight: 600;
    color: #052F6B;
}

.message-writeup p{
    color: #212121;
    font-weight: 400;
}

.messgage-head{
    display: flex;
    justify-content: center;
}